@page "/Blog"
<h3>Blog</h3>

@* search top center or top right? *@
@* filter - debatable *@
@* sort - debatable, but at top right *@
@* categories at the top or left? *@
@* posts as main content *@
@* tags on the right? *@
@* pagination at the bottom *@

@code {
    
}