@page "/Guides"
<h3>Guides</h3>
<p>If you found this page, thanks for being here</p>
<p>Guides are a work in progress</p>
<p>Wish I had an easter egg for you :(</p>
<p>Feel free to reach out if you have ideas!</p>

@* guides for doing a mix of things related to development -- possibly more?  *@
    @* guides will be based on: *@
        @* technology/concepts that built the site *@
        @* technology/concepts that built the projects *@

@* dont display for now *@
@* need to come up with a layout *@
@* requires some thought *@

@code {
    
}