@page "/Projects"
<h3>Projects</h3>

@* search top center or top right? -- maybe no search for projects *@
@* filter by language and type (ecommerce, blog, etc. -- come up w/ more types) *@
@* sort - debatable, but at top right. *@
    @* what to sort by? lines of code? time? *@
    @* maybe come up w/ a metric that is directly applicable to how it would be measured in the workplace *@
@* categories at the top or left? *@
@* pictures of posts/projects as main content -- probably squares *@
    @* title of post/project below *@
    @* description of post/project on hover *@
@* tags on the right? -- not sure if tags are relevant here due to sort/filter *@
@* pagination at the bottom *@


@code {
    
}